@keyframes pulse {
  0% {
    opacity: 0.1;
    box-shadow: 0 0 0 var(--color-light);
  }

  50% {
    opacity: 0.2;
    box-shadow: 0 0 1rem var(--color-light);
  }

  100% {
    opacity: 0.1;
    box-shadow: 0 0 0 var(--color-light);
  }
}