*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  transition: all 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);
}

html {
  height: 100vh;
  width: inherit;
  box-sizing: border-box;

  font-size: 62.5%;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  //BY HEIGHTS
  @media only screen and (max-height: 45em) {
    //720H
    font-size: 52%;
  }

  @media only screen and (max-height: 24em) {
    //375H
    font-size: 42%;
  }

  @media only screen and (min-height: 45em) {
    //720H
    font-size: 52%;
  }

  @media only screen and (min-height: 56em) {
    //900H
    font-size: 62.5%;
  }

  @media only screen and (min-height: 67em) {
    //1080H
    font-size: 80%;
  }

  @media only screen and (min-height: 90em) {
    //1440H
    font-size: 120%;
  }

  @media only screen and (min-height: 135em) {
    //2160H
    font-size: 150%;
  }

  //BY WIDTHS (PRIORITY)
  @media only screen and (max-width: 47em) {
    //750W
    font-size: 60%;
  }

  @media only screen and (max-width: 40em) {
    //650W
    font-size: 50%;
  }

  @media only screen and (max-width: 34em) {
    //550W
    font-size: 40%;
  }
}

body {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

canvas {
  width: 100%;
  height: 100%;
}
