.header {
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  align-content: center;
  align-items: center;

  height: 100%;

  @media only screen and (max-width: 34em) {
    //550W
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50% 50%;
  }

  //KEEPS IGNITE INSIDE CONTAINER
  &__ignite {
    position: fixed;

    height: 5.8vh;
    width: 100%;

    overflow: hidden;

    //CONTROL WITH APP COMPONENT
    @media only screen and (min-height: 45em) {
      //720H
      height: 5.6vh;
    }

    @media only screen and (min-height: 67em) {
      //1080H
      height: 5.6vh;
    }

    @media only screen and (min-height: 135em) {
      //2160H
      height: 6.5vh;
    }

    @media only screen and (max-width: 34em) {
      //550W
      height: 11.5rem;
    }

    &--effect {
      position: absolute;
      top: 5rem; //KEEPS Y STATIC
      transform: translate(-50%, -50%);

      background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color-accent1) 0%,
        rgba(192, 104, 57, 0.8) 10%,
        rgba(192, 104, 57, 0.2) 60%,
        rgba(192, 104, 57, 0) 100%
      );

      transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
        width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

      @media only screen and (max-width: 34em) {
        //550W
        top: 12rem;

        height: 20rem !important;
        width: 10rem !important;
      }
    }
  }

  &__carapace {
    grid-column: 1 / 2;
    align-self: center;
    z-index: 5100;

    padding-top: 0.2rem;
    padding-left: 2rem;

    @media only screen and (max-width: 65em) {
      //1024W
      padding-left: 1rem;
    }

    @media only screen and (max-width: 34em) {
      //550W
      padding-top: 2rem;
    }

    img {
      height: 3.8rem;

      vertical-align: middle;

      transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
        width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

      @media only screen and (max-width: 34em) {
        //550W
        height: 5rem;
      }

      &:hover {
        transform: scale(1.05);

        filter: drop-shadow(0 0.4rem 0.1rem rgba(black, 0.4))
          drop-shadow(0 0.1rem 0.5rem rgba(black, 0.4));
      }

      &:active {
        transform: scale(1.04);
      }
    }
  }

  &__links {
    grid-column: 2 / 3;
    justify-self: center;
    justify-items: center;
    z-index: 5100;

    @media only screen and (max-width: 34em) {
      //550W
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    &--list {
      display: flex;

      li {
        padding: 0 2rem;

        @media only screen and (max-width: 65em) {
          //1024W
          padding: 0 1rem;
        }

        @media only screen and (max-width: 34em) {
          //550W
          padding-bottom: 1rem;
        }
      }

      &-item {
        position: relative;

        img {
          height: 3.3rem;
          width: 3.3rem;

          vertical-align: middle;

          transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
            width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

          @media only screen and (max-width: 34em) {
            //550W
            height: 4.5rem;
            width: 4.5rem;
          }

          &:hover {
            transform: scale(1.05);

            filter: drop-shadow(0 0.4rem 0.1rem rgba(black, 0.4))
              drop-shadow(0 0.1rem 0.5rem rgba(black, 0.4));
          }

          &:active {
            transform: scale(1);
          }
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 3.5rem);

          padding: 0 0.5rem;
          padding-bottom: 0.1rem;
          border-radius: 3.5rem;

          background-color: var(--color-accent1);

          font-weight: bold;
          text-align: center;

          @media only screen and (max-width: 34em) {
            //550W
          transform: translate(-50%, 4rem);

            font-size: var(--font-xsmall);
          }
        }
      }
    }
  }

  &__copyright {
    grid-column: 3 / -1;
    justify-self: flex-end;
    z-index: 5100;

    padding-right: 2.5rem;

    font-weight: 400;
    text-align: right;

    @media only screen and (max-width: 65em) {
      //1024W
      padding-right: 1.5rem;
    }

    @media only screen and (max-width: 34em) {
      //550W
      grid-column: 2 / -1;
      grid-row: 1 / 2;

      padding-top: 1rem;

      font-size: var(--font-xsmall);
    }

    a {
      #hover8 {
        display: none;
      }

      &:hover {
        #hover8 {
          display: inline;
        }

        #no-hover8 {
          display: none;
        }
      }
    }

    img {
      height: 2.5rem;
      width: 2.5rem;
      margin-left: 0.5rem;

      vertical-align: middle;

      transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
        width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

      @media only screen and (max-width: 34em) {
        //550W
        height: 3.5rem;
        width: 3.5rem;
      }

      &:hover {
        transform: scale(1.05);

        filter: drop-shadow(0 0.4rem 0.1rem rgba(black, 0.4))
          drop-shadow(0 0.1rem 0.5rem rgba(black, 0.4));
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__bg1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;

    height: 100%;
    width: 100%;

    background-color: rgba(#222325, 1);
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
  }

  &__bg2 {
    position: absolute;
    top: -0.1rem;
    left: 0;
    z-index: -1100;

    height: 100%;
    width: 100%;

    background-color: rgba(white, 0.1);
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
  }
}

//TOGGLE SVGS BETWEEN HOVERS
#switch {
  &-youtube {
    #hover1 {
      display: none;
    }

    &:hover {
      #hover1 {
        display: inline;
      }

      #no-hover1 {
        display: none;
      }
    }
  }

  &-resume {
    #hover2 {
      display: none;
    }

    &:hover {
      #hover2 {
        display: inline;
      }

      #no-hover2 {
        display: none;
      }
    }
  }

  &-linkedin {
    #hover3 {
      display: none;
    }

    &:hover {
      #hover3 {
        display: inline;
      }

      #no-hover3 {
        display: none;
      }
    }
  }

  &-github {
    #hover4 {
      display: none;
    }

    &:hover {
      #hover4 {
        display: inline;
      }

      #no-hover4 {
        display: none;
      }
    }
  }

  &-codepen {
    #hover5 {
      display: none;
    }

    &:hover {
      #hover5 {
        display: inline;
      }

      #no-hover5 {
        display: none;
      }
    }
  }

  &-replit {
    #hover6 {
      display: none;
    }

    &:hover {
      #hover6 {
        display: inline;
      }

      #no-hover6 {
        display: none;
      }
    }
  }

  &-codewars {
    img {
      transform: scale(1.4);

      &:hover {
        transform: scale(1.47) !important;
      }

      &:active {
        transform: scale(1.4) !important;
      }
    }

    #hover7 {
      display: none;
    }

    &:hover {
      #hover7 {
        display: inline;
      }

      #no-hover7 {
        display: none;
      }
    }
  }
}
