<div class="header">

  <div class="header__ignite">
    <span
      class="header__ignite--effect"
      [ngStyle]="igniteStyle"
    ></span>
  </div>

  <div class="header__carapace">
    <a
      (mouseenter)="isIgnite = true"
      (mouseleave)="isIgnite = false"
      routerLink="/"
      class="header__carapace--link"
    >
      <img
        src="assets/carapace.svg"
        alt="Carapace logo"
      >
    </a>
  </div>

  <div class="header__links">
    <ul class="header__links--list">

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-youtube"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="https://www.youtube.com/channel/UCMq9sTJuuBKPpSpvCoYB7Cg"
          >
            <img
              src="assets/youtube-white.svg"
              alt="YouTube logo"
              id="no-hover1"
            >
            <img
              src="assets/youtube.svg"
              alt="YouTube logo"
              id="hover1"
            >
          </a>

          <span id="hover1">YouTube</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-resume"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="#"
          >
            <img
              src="assets/resume-white.svg"
              alt="Resume logo"
              id="no-hover2"
            >
            <img
              src="assets/resume.svg"
              alt="Resume logo"
              id="hover2"
            >
          </a>

          <span id="hover2">Resume</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-linkedin"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="#"
          >
            <img
              src="assets/linkedin-white.svg"
              alt="LinkedIn logo"
              id="no-hover3"
            >
            <img
              src="assets/linkedin.svg"
              alt="LinkedIn logo"
              id="hover3"
            >
          </a>

          <span id="hover3">LinkedIn</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-github"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="https://github.com/CaraLagumen"
          >
            <img
              src="assets/github-white.svg"
              alt="GitHub logo"
              id="no-hover4"
            >
            <img
              src="assets/github.svg"
              alt="GitHub logo"
              id="hover4"
            >
          </a>

          <span id="hover4">GitHub</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-codepen"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="https://codepen.io/CaraLagumen"
          >
            <img
              src="assets/codepen-white.svg"
              alt="CodePen logo"
              id="no-hover5"
            >
            <img
              src="assets/codepen.svg"
              alt="CodePen logo"
              id="hover5"
            >
          </a>

          <span id="hover5">CodePen</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-replit"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="https://repl.it/@CaraLagumen"
          >
            <img
              src="assets/replit-white.svg"
              alt="Repl.it logo"
              id="no-hover6"
            >
            <img
              src="assets/replit.svg"
              alt="Repl.it logo"
              id="hover6"
            >
          </a>

          <span id="hover6">Repl.it</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgnite = true"
        (mouseleave)="isIgnite = false"
        id="switch-codewars"
      >
        <div class="header__links--list-item">
          <a
            target="_blank"
            href="https://www.codewars.com/users/CaraLagumen"
          >
            <img
              src="assets/4kyu-white.svg"
              alt="Codewars logo"
              id="no-hover7"
            >
            <img
              src="assets/4kyu.svg"
              alt="Codewars logo"
              id="hover7"
            >
          </a>

          <span id="hover7">Codewars</span>
        </div>
      </li>

    </ul>
  </div>

  <div
    (mouseenter)="isIgnite = true"
    (mouseleave)="isIgnite = false"
    class="header__copyright"
  >
    © By Cara Lagumen
    <a
      target="_blank"
      href="https://twitter.com/CaraLagumen"
    >
      <img
        src="assets/twitter-white.svg"
        alt="Twitter logo"
        id="no-hover8"
      >
      <img
        src="assets/twitter.svg"
        alt="Twitter logo"
        id="hover8"
      >
    </a>
  </div>

  <div class="header__bg1"></div>
  <div class="header__bg2"></div>

</div>
