.header-container {
  display: grid;
  grid-template-columns: 15vw 1fr 10vw;
  align-content: center;
  align-items: center;

  //KEEPS IGNITE INSIDE CONTAINER
  .ignite-container {
    position: fixed;

    height: 6.5vh;
    width: 100%;

    overflow: hidden;

    .ignite {
      position: absolute;
      top: 5rem; //KEEPS Y STATIC
      transform: translate(-50%, -50%);

      background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color-accent1) 0%,
        rgba(192, 104, 57, 0.8) 10%,
        rgba(192, 104, 57, 0.2) 60%,
        rgba(192, 104, 57, 0) 100%
      );

      transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
        width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);
    }
  }
}

.header {
  &__carapace {
    grid-column: 1 / 2;
    z-index: 5100;

    padding-top: 1rem;
    padding-left: 1rem;

    &--svg {
      height: 4vh;

      transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
        width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

      &:hover {
        transform: scale(1.05);

        filter: drop-shadow(0 0.4rem 0.1rem rgba(black, 0.4))
          drop-shadow(0 0.1rem 0.5rem rgba(black, 0.4));
      }

      &:active {
        transform: scale(1.04);

        filter: drop-shadow(0 0.4rem 1rem black)
          drop-shadow(0 0.1rem 3rem black);
      }
    }
  }

  &__links {
    grid-column: 2 / 3;
    justify-self: center;
    justify-items: center;
    z-index: 5100;

    &--list {
      display: flex;
      gap: 2rem;

      .link-container {
        position: relative;

        width: 3.3rem;

        img {
          height: 3.3rem;
          width: 3.3rem;

          vertical-align: middle;

          transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
            width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

          &:hover {
            filter: drop-shadow(0 0.4rem 0.1rem rgba(black, 0.4))
              drop-shadow(0 0.1rem 0.5rem rgba(black, 0.4));
          }

          &:active {
            filter: drop-shadow(0 0.4rem 1rem black)
              drop-shadow(0 0.1rem 3rem black);
          }
        }

        .caption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 3.5rem);

          padding: 0 0.5rem;
          padding-bottom: 0.1rem;
          border-radius: 3.5rem;

          background-color: var(--color-accent1);

          font-weight: bold;
          text-align: center;
        }
      }

      //TOGGLE SVGS BETWEEN HOVERS
      &-youtube {
        .hover1 {
          display: none;
        }

        &:hover {
          .hover1 {
            display: inline;
          }

          .no-hover1 {
            display: none;
          }
        }
      }

      &-resume {
        .hover2 {
          display: none;
        }

        &:hover {
          .hover2 {
            display: inline;
          }

          .no-hover2 {
            display: none;
          }
        }
      }

      &-linkedin {
        .hover3 {
          display: none;
        }

        &:hover {
          .hover3 {
            display: inline;
          }

          .no-hover3 {
            display: none;
          }
        }
      }

      &-github {
        .hover4 {
          display: none;
        }

        &:hover {
          .hover4 {
            display: inline;
          }

          .no-hover4 {
            display: none;
          }
        }
      }

      &-codepen {
        .hover5 {
          display: none;
        }

        &:hover {
          .hover5 {
            display: inline;
          }

          .no-hover5 {
            display: none;
          }
        }
      }

      &-replit {
        .hover6 {
          display: none;
        }

        &:hover {
          .hover6 {
            display: inline;
          }

          .no-hover6 {
            display: none;
          }
        }
      }

      &-codewars {
        img {
          transform: scale(1.4);
        }

        .hover7 {
          display: none;
        }

        &:hover {
          .hover7 {
            display: inline;
          }

          .no-hover7 {
            display: none;
          }
        }
      }
    }
  }

  &__copyright {
    grid-column: 3 / -1;
    justify-self: flex-end;
    z-index: 5100;

    padding-right: 1rem;

    font-weight: 100;
  }
}
