<div class="header-container">

  <div class="ignite-container">
    <span
      class="ignite"
      [ngStyle]="igniteStyle"
    ></span>
  </div>

  <div
    (mouseenter)="isIgniteVisible = true"
    (mouseleave)="isIgniteVisible = false"
    class="header__carapace"
  >
    <a
      routerLink="/"
      class="header__carapace--link"
    >
      <img
        src="assets/carapace.svg"
        alt="Carapace logo"
        class="header__carapace--svg"
      >
    </a>
  </div>

  <div class="header__links">
    <ul class="header__links--list">

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-youtube"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/youtube-white.svg"
              alt="YouTube logo"
              class="no-hover1"
            >
            <img
              src="assets/youtube.svg"
              alt="YouTube logo"
              class="hover1"
            >
          </a>

          <span class="caption hover1">YouTube</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-resume"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/resume-white.svg"
              alt="Resume logo"
              class="no-hover2"
            >
            <img
              src="assets/resume.svg"
              alt="Resume logo"
              class="hover2"
            >
          </a>

          <span class="caption hover2">Resume</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-linkedin"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/linkedin-white.svg"
              alt="LinkedIn logo"
              class="no-hover3"
            >
            <img
              src="assets/linkedin.svg"
              alt="LinkedIn logo"
              class="hover3"
            >
          </a>

          <span class="caption hover3">LinkedIn</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-github"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/github-white.svg"
              alt="GitHub logo"
              class="no-hover4"
            >
            <img
              src="assets/github.svg"
              alt="GitHub logo"
              class="hover4"
            >
          </a>

          <span class="caption hover4">GitHub</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-codepen"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/codepen-white.svg"
              alt="CodePen logo"
              class="no-hover5"
            >
            <img
              src="assets/codepen.svg"
              alt="CodePen logo"
              class="hover5"
            >
          </a>

          <span class="caption hover5">CodePen</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-replit"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/replit-white.svg"
              alt="Repl.it logo"
              class="no-hover6"
            >
            <img
              src="assets/replit.svg"
              alt="Repl.it logo"
              class="hover6"
            >
          </a>

          <span class="caption hover6">Repl.it</span>
        </div>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-codewars"
      >
        <div class="link-container">
          <a href="#">
            <img
              src="assets/4kyu-white.svg"
              alt="Codewars logo"
              class="no-hover7"
            >
            <img
              src="assets/4kyu.svg"
              alt="Codewars logo"
              class="hover7"
            >
          </a>

          <span class="caption hover7">Codewars</span>
        </div>
      </li>

    </ul>
  </div>

  <div
    (mouseenter)="isIgniteVisible = true"
    (mouseleave)="isIgniteVisible = false"
    class="header__copyright"
  >© By Cara Lagumen</div>

</div>
