<div class="header-container">

  <div class="ignite-container">
    <span
      class="ignite"
      [ngStyle]="igniteStyle"
    ></span>
  </div>

  <div
    (mouseenter)="isIgniteVisible = true"
    (mouseleave)="isIgniteVisible = false"
    class="header__carapace"
  >
    <a
      routerLink="/"
      class="header__carapace--link"
    >
      <img
        src="assets/carapace.svg"
        alt="Carapace logo"
        class="header__carapace--svg"
      >
    </a>
  </div>

  <div class="header__links">
    <ul class="header__links--list">

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-youtube"
      >
        <a href="#">
          <img
            src="assets/youtube-white.svg"
            alt="Youtube logo"
            class="no-hover1"
          >
          <img
            src="assets/youtube.svg"
            alt="Youtube logo"
            class="hover1"
          >
        </a>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-resume"
      >
        <a href="#">
          <img
            src="assets/resume-white.svg"
            alt="Resume logo"
            class="no-hover2"
          >
          <img
            src="assets/resume.svg"
            alt="Resume logo"
            class="hover2"
          >
        </a>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-linkedin"
      >
        <a href="#">
          <img
            src="assets/linkedin-white.svg"
            alt="LinkedIn logo"
            class="no-hover3"
          >
          <img
            src="assets/linkedin.svg"
            alt="LinkedIn logo"
            class="hover3"
          >
        </a>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-github"
      >
        <a href="#">
          <img
            src="assets/github-white.svg"
            alt="GitHub logo"
            class="no-hover4"
          >
          <img
            src="assets/github.svg"
            alt="GitHub logo"
            class="hover4"
          >
        </a>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-codepen"
      >
        <a href="#">
          <img
            src="assets/codepen-white.svg"
            alt="CodePen logo"
            class="no-hover5"
          >
          <img
            src="assets/codepen.svg"
            alt="CodePen logo"
            class="hover5"
          >
        </a>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-replit"
      >
        <a href="#">
          <img
            src="assets/replit-white.svg"
            alt="Repl.it logo"
            class="no-hover6"
          >
          <img
            src="assets/replit.svg"
            alt="Repl.it logo"
            class="hover6"
          >
        </a>
      </li>

      <li
        (mouseenter)="isIgniteVisible = true"
        (mouseleave)="isIgniteVisible = false"
        class="header__links--list-codewars"
      >
        <a href="#">
          <img
            src="assets/4kyu-white.svg"
            alt="Codewars logo"
            class="no-hover7"
          >
          <img
            src="assets/4kyu.svg"
            alt="Codewars logo"
            class="hover7"
          >
        </a>
      </li>

    </ul>
  </div>

  <div
    (mouseenter)="isIgniteVisible = true"
    (mouseleave)="isIgniteVisible = false"
    class="header__copyright"
  >© By Cara Lagumen</div>

</div>
