<div class="about">

  <div
    *ngIf="(aboutText$ | async) && !blog"
    class="about__main"
  >

    <div class="about__main--title">
      Hello world,
    </div>

    <div
      *ngIf="readMore"
      class="about__main--text"
    >
      <div
        [@flicker]="(aboutTextFormatted$ | async)"
        [innerHTML]="(aboutTextFormatted$ | async)"
        class="about__main--text-main"
      >
      </div>
    </div>

    <div
      *ngIf="!readMore"
      class="about__main--text"
    >
      <div class="about__main--text-main">
        {{ (aboutText$ | async | slice:0:1) }}
      </div>

      <div
        (click)="onReadMore()"
        class="about__main--text-more"
      >
        Read more
        <br><span>▼</span>
      </div>
    </div>

    <a
      (click)="onToggleBlog()"
      class="about__main--btn ember-btn"
    >
      Access logs
      <span class="ember"></span>
    </a>

  </div>

  <div
    [@flicker]="(posts$ | async)"
    *ngIf="(posts$ | async) && blog"
    class="about__blog"
  >

    <div
      class="about__blog--nav"
    >

      <div
        (click)="onToggleBlog()"
        class="about__blog--nav-close"
      >
        ◄ Return
      </div>

      <div
        *ngFor="let post of (posts$ | async)"
        class="about__blog--nav-item"
      >
        <div class="about__blog--nav-item-date">
          {{ post.published | date:'short' }}
        </div>
        <div
          (click)="onSelectedPost(post)"
          class="about__blog--nav-item-title"
        >
          {{ post.title }}
        </div>
      </div>

    </div>

    <div
      [@flicker]="selectedPost"
      [innerHTML]="selectedPost.content"
      class="about__blog--content"
    >
      Hello there. Welcome to my logs. Here, you will find the
      reality of my programming journey. Apologies in advance if
      I ramble.
    </div>

  </div>

</div>
