<div class="about-container">

  <div
    @flicker
    *ngIf="aboutText && !blog"
    class="about__main"
  >

    <div class="about__main--title">
      Hello world,
    </div>

    <div
      *ngIf="readMore"
      class="about__main--text"
    >
      <div
        @flicker
        [innerHTML]="aboutTextFormatted"
        class="about__main--text-main"
      >
      </div>
    </div>

    <div
      *ngIf="!readMore"
      class="about__main--text"
    >
      <div class="about__main--text-main">
        {{ aboutText[0] }}
      </div>

      <div
        (click)="onReadMore()"
        class="about__main--text-more"
      >
        Read more
        <br><span>▼</span>
      </div>
    </div>

    <a
      (click)="onToggleBlog()"
      class="about__main--btn ember-btn"
    >
      Access logs
      <span class="ember"></span>
    </a>

  </div>

  <div
    @flicker
    *ngIf="blog"
    class="about__blog"
  >

    <div
      *ngFor="let post of posts"
      class="item-container"
    >

      <div
        (click)="onToggleBlog()"
        class="about__blog--close"
      >
        ◄ Return
      </div>

      <div
        *ngFor="let post of posts"
        class="about__blog--item"
      >
        <div class="about__blog--item-date">
          {{ post.published | date:'short' }}
        </div>
        <div class="about__blog--item-title">
          {{ post.title }}
        </div>
      </div>

    </div>

    <div
      *ngFor="let post of posts"
      [innerHTML]="post.content"
      class="about__blog--content"
    >
    </div>

  </div>

</div>
