<div class="projects-container">

  <div
    *ngIf="projects"
    class="projects__full"
  >

    <div class="projects__full--main">
      <div
        [@flicker]="projectTitle"
        class="projects__full--main-title"
      >
        {{ projectTitle }}
      </div>

      <div class="projects__full--main-clip"></div>
    </div>

    <div class="projects__full--btns">

      <div class="projects__full--btns-stack">

        <img
          *ngIf="projects[0].stack.includes('html')"
          src="assets/html5.svg"
          alt="Html logo"
        >
        <img
          *ngIf="projects[0].stack.includes('css')"
          src="assets/css3.svg"
          alt="Css logo"
        >
        <img
          *ngIf="projects[0].stack.includes('javascript')"
          src="assets/javascript.svg"
          alt="Javascript logo"
        >
        <img
          *ngIf="projects[0].stack.includes('sass')"
          src="assets/sass.svg"
          alt="Sass logo"
        >
        <img
          *ngIf="projects[0].stack.includes('mongodb')"
          src="assets/mongodb.svg"
          alt="Mongodb logo"
          class="mongodb"
        >
        <img
          *ngIf="projects[0].stack.includes('express')"
          src="assets/express.svg"
          alt="Express logo"
          class="express"
        >
        <img
          *ngIf="projects[0].stack.includes('angular')"
          src="assets/angular.svg"
          alt="Angular logo"
        >
        <img
          *ngIf="projects[0].stack.includes('nodejs')"
          src="assets/nodejs.svg"
          alt="Nodejs logo"
        >

      </div>

      <div class="projects__full--btns-access">

        <a
          target="_blank"
          href="{{ projects[0].urls.github }}"
          class="github"
        >
          <img
            src="assets/github.svg"
            alt="GitHub logo"
            class="no-hover"
          >
          <img
            src="assets/github-white.svg"
            alt="GitHub logo"
            class="hover"
          >
        </a>

        <a
          target="_blank"
          href="{{ projects[0].urls.app }}"
          class="dive ember-btn"
        >
          Deep dive
          <span class="ember"></span>
        </a>

      </div>

    </div>

  </div>

</div>
