<div class="app-projects-nav-container">
  <app-projects-nav
    [projects]="projects"
    (getSelectedProject)="onSetSelectedProject($event)"
  >
  </app-projects-nav>
</div>

<div class="projects-container">

  <div
    [@flicker]="selectedProject"
    *ngIf="projects"
    class="projects"
  >

    <div
      (mouseenter)="onToggleDescription()"
      (mouseleave)="onToggleDescription()"
      class="projects__main"
    >
      <div
        @slideIn
        *ngIf="hide === false"
        class="projects__main--description"
      >
        <span [innerHTML]="formattedDescription"></span>
      </div>

      <div
        [@flicker]="projectTitle"
        class="projects__main--title"
      >
        {{ projectTitle }}
      </div>

      <div class="projects__main--clip">
        <img
          src="{{ selectedProject.img }}"
          alt="{{ selectedProject.name }} image"
        >
      </div>
    </div>

    <div class="projects__btns">

      <div class="projects__btns--stack">

        <img
          *ngIf="selectedProject.stack.includes('html')"
          src="assets/html5.svg"
          alt="Html logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('css')"
          src="assets/css3.svg"
          alt="Css logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('javascript')"
          src="assets/javascript.svg"
          alt="Javascript logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('sass')"
          src="assets/sass.svg"
          alt="Sass logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('firebase')"
          src="assets/firebase.svg"
          alt="Firebase logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('mongodb')"
          src="assets/mongodb.svg"
          alt="Mongodb logo"
          class="mongodb"
        >
        <img
          *ngIf="selectedProject.stack.includes('express')"
          src="assets/express.svg"
          alt="Express logo"
          class="express"
        >
        <img
          *ngIf="selectedProject.stack.includes('angular')"
          src="assets/angular.svg"
          alt="Angular logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('nodejs')"
          src="assets/nodejs.svg"
          alt="Nodejs logo"
        >
        <img
          *ngIf="selectedProject.stack.includes('threejs')"
          src="assets/threejs.svg"
          alt="Threejs logo"
        >

      </div>

      <div class="projects__btns--access">

        <a
          target="_blank"
          href="{{ selectedProject.urls.github }}"
          class="github"
        >
          <img
            src="assets/github.svg"
            alt="GitHub logo"
            class="no-hover"
          >
          <img
            src="assets/github-white.svg"
            alt="GitHub logo"
            class="hover"
          >
        </a>

        <a
          target="_blank"
          href="{{ selectedProject.urls.app }}"
          class="dive ember-btn"
        >
          Deep dive
          <span class="ember"></span>
        </a>

      </div>

    </div>

  </div>

</div>
