<div class="projects-container">

  <div class="projects__full">

    <div class="projects__full--main">
      <div
        [@flicker]="projectTitle"
        class="projects__full--main-title"
      >
        {{ projectTitle }}
      </div>

      <div class="projects__full--main-clip"></div>
    </div>

    <div class="projects__full--btns">
      <div class="projects__full--btns-stack">
        <img
          src="assets/html5.svg"
          alt="Html logo"
        >
        <img
          src="assets/css3.svg"
          alt="Css logo"
        >
        <img
          src="assets/javascript.svg"
          alt="Javascript logo"
        >
        <img
          src="assets/sass.svg"
          alt="Sass logo"
        >
        <img
          src="assets/mongodb.svg"
          alt="Mongodb logo"
          class="mongodb"
        >
        <img
          src="assets/express.svg"
          alt="Express logo"
          class="express"
        >
        <img
          src="assets/angular.svg"
          alt="Angular logo"
        >
        <img
          src="assets/nodejs.svg"
          alt="Nodejs logo"
        >
      </div>

      <div class="projects__full--btns-access">
        <a
          href="#"
          class="github"
        >
          <img
            src="assets/github-white.svg"
            alt="GitHub logo"
            class="no-hover"
          >
          <img
            src="assets/github.svg"
            alt="GitHub logo"
            class="hover"
          >
        </a>

        <a class="dive ember-btn">
          Deep dive
          <span class="ember"></span>
        </a>

      </div>
    </div>

  </div>

</div>
