.alert {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  @media only screen and (max-width: 34em) {
    //550W
    top: 15vh;
  }

  &__main {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    justify-items: center;

    width: 30rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;

    opacity: 0.8;
    transform: skewX(-8deg);

    color: var(--color-light);
    font-size: var(--font-xsmall);
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    text-transform: lowercase;

    &--success {
      background-color: #34c96a;
    }

    &--info {
      background-color: #2431c7;
    }

    &--warning {
      background-color: #c06839;
    }

    &--danger {
      background-color: #56676e;
    }

    &--close {
      color: var(--color-light);
      font-size: var(--font-small);
    }
  }
}
