<div class="contact">
  <div class="contact__main">

    <div class="contact__main--text">
      All things change in a dynamic environment.
    </div>

    <div class="contact__main--title">
      Contact
    </div>

    <div
      (mouseenter)="onHover()"
      (mouseleave)="onHover()"
      class="contact__main--email ember-btn"
    >

      <div class="contact__main--email-heading">
        Email now
      </div>

      <a
        (click)="onEmailAlert()"
        target="_top"
        href="mailto:CaraLagumen@gmail.com"
        class="contact__main--email-link"
      >
        CaraLagumen@gmail.com
      </a>

      <span class="contact__main--email-divider">| </span>

      <a
        ngxClipboard
        [cbContent]="'CaraLagumen@gmail.com'"
        (click)="onCopyAlert()"
        class="contact__main--email-copy"
      >
        <img
          src="assets/copy-white.svg"
          alt="copy icon"
          class="no-hover"
        >
        <img
          src="assets/copy.svg"
          alt="copy icon"
          class="hover"
        >
        <span>Copy</span>
      </a>

      <span
        *ngIf="hover"
        class="ember-bg"
      ></span>

    </div>

  </div>
</div>
