<div class="contact-container">
  <div class="contact">

    <div class="contact__text">
      All things change in a dynamic environment.
    </div>

    <div class="contact__title">
      Contact
    </div>

    <div class="contact__email">
      <div class="contact__email--title">
        Email
      </div>
      CaraLagumen@gmail.com

      <span class="contact__email--btn">
        <span>| </span>
        <a href="#">
          <img
            src="assets/copy-white.svg"
            alt="copy icon"
            class="no-hover"
          >
          <img
            src="assets/copy.svg"
            alt="copy icon"
            class="hover"
          >
        </a>
      </span>

    </div>

  </div>
</div>
