.contact-container {
  display: grid;
  align-content: center;
  justify-content: center;

  height: 100vh;
  width: inherit;
}

.contact {
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 0 0.5rem;

  transform: skewX(-8deg);

  font-family: var(--font-heading);
  font-weight: 100;

  &__text {
    grid-column: 1 / -1;
    justify-self: center;

    font-size: var(--font-large);
    text-transform: none;
  }

  &__title {
    grid-column: 1 / 2;
    justify-self: flex-end;

    font-size: var(--font-xlarge);
    text-transform: uppercase;
  }

  &__email {
    grid-column: 2 / -1;
    align-self: center;
    justify-self: flex-start;

    display: grid;
    gap: 1rem;

    padding: 1.5rem;
    padding-right: 2.5rem;

    background-color: rgba(black, 0.5);
    transform: skewX(-2deg);

    font-size: var(--font-medium);
    line-height: 1.5rem;

    overflow: hidden;

    &:hover {
      transform: skewX(-2deg) translateY(-0.1rem);
    }

    &:active {
      transform: skewX(-2deg);
    }

    &--heading {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      font-size: var(--font-small);
    }

    &--link {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 5100;

      color: var(--color-light);

      transform: translateY(2rem);

      &:hover {
        transform: translateY(2rem) scale(1.01);
      }

      &:active {
        transform: translateY(2rem) scale(1);
      }
    }

    &--divider {
      grid-row: 1 / 2;
      align-self: center;

      opacity: 0.2;
    }

    &--copy {
      grid-row: 1 / 2;
      z-index: 5100;

      width: 2rem;

      .hover {
        display: none;
      }

      &:hover {
        .hover {
          display: inline;
        }

        .no-hover {
          display: none;
        }
      }

      img {
        height: 3.3rem;
        width: 3.3rem;

        transition: height 0.1s cubic-bezier(0.7, 0.02, 0.08, 1.52),
          width 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);

        &:hover {
          transform: scale(1.05);

          filter: drop-shadow(0 0.4rem 0.1rem rgba(black, 0.4))
            drop-shadow(0 0.1rem 0.5rem rgba(black, 0.4));
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
