<div class="contact-container">
  <div class="contact">

    <div class="contact__text">
      All things change in a dynamic environment.
    </div>

    <div class="contact__title">
      Contact
    </div>

    <div class="contact__email ember-btn">

      <div class="contact__email--heading">
        Email
      </div>

      <a class="contact__email--link">
        CaraLagumen@gmail.com
      </a>

      <span class="contact__email--divider">| </span>

      <a class="contact__email--btn">
        <a href="#">
          <img
            src="assets/copy-white.svg"
            alt="copy icon"
            class="no-hover"
          >
          <img
            src="assets/copy.svg"
            alt="copy icon"
            class="hover"
          >
        </a>
      </a>

      <span class="ember"></span>

    </div>

  </div>
</div>
