.intro {
  display: grid;
  align-content: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  overflow: hidden;

  &__text {
    align-self: center;
    justify-self: center;

    padding: 0 1rem;

    background-color: rgba(black, 0.5);
    border-top: solid 0.5rem rgba(#f2f2f2, 0.6);
    transform: skewX(-8deg);

    font-family: var(--font-heading);
    font-size: var(--font-xlarge);
    font-weight: 500;
    text-align: center;
    text-transform: none;

    @media only screen and (max-width: 78em) {
      //1250W
      width: 75%;
      word-break: break-all;
    }

    @media only screen and (max-width: 34em) {
      //550W
      width: 100%;
      word-break: break-all;
    }
  }
}
