app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;

  height: 6vh;
  width: 100%;
  border-bottom: solid 0.1rem var(--color-light-grey);

  background-color: #222325; //OVERRIDES MODE
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.09),
    0 0.4rem 0.2rem rgba(0, 0, 0, 0.09), 0 0.8rem 0.4rem rgba(0, 0, 0, 0.09),
    0 1.6rem 0.8rem rgba(0, 0, 0, 0.09), 0 3.2rem 1.6rem rgba(0, 0, 0, 0.09);

  //CONTROL WITH HEADER COMPONENT
  @media only screen and (min-height: 90em) {
    //1440H
    height: 6.5vh;
  }

  @media only screen and (min-height: 135em) {
    //2160H
    height: 7vh;
  }

  @media only screen and (max-width: 34em) {
    //550W
    height: 12rem;
  }
}

app-nav {
  position: fixed;
  bottom: 1vh;
  right: 2vw;
  z-index: 5000;
}

#renderer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;

  opacity: 0.5;
}

.app {
  &__main {
    position: relative;
    z-index: 1000;

    background: linear-gradient(to bottom, var(--color-dark), var(--color-grey))
      no-repeat;

    &--bg1 {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -2000;

      height: 100%;
      width: 100%;

      background-color: rgba(black, 0.04);
      clip-path: polygon(50% 50%, 0 0, 100% 0);
    }

    &--bg2 {
      position: fixed;
      top: -0.01rem;
      left: 0;
      z-index: -2000;

      height: 100vh;
      width: 100%;

      background-color: rgba(#f2f2f2, 0.02);
      clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    }
  }
}

#mode {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.8;

  border: none;
  padding: 2rem;
  background: none;

  color: var(--color-light);
  font-family: var(--font-heading);
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.2rem rgba(black, 1);

  cursor: pointer;

  &:hover {
    color: var(--color-accent1);
  }

  &:active {
    transform: translateY(0.1rem);
  }
}

.scrollable {
  scroll-snap-align: start;
}

.stopper {
  scroll-snap-align: start;
  height: 0.1rem;
}

.display {
  display: block;
  opacity: 1;

  animation-name: fromFlat;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hide {
  display: block;
  opacity: 0;
}
