<div class="app">

  <a
    (click)="onToggleMode()"
    id="mode"
  >{{ mode }}</a>

  <app-header></app-header>
  <app-alert></app-alert>
  <app-nav></app-nav>

  <div class="app__main">

    <app-intro
      id="page-intro"
      class="scrollable"
    ></app-intro>
    <app-about
      id="page-about"
      class="scrollable"
    ></app-about>
    <app-projects
      id="page-projects"
      class="scrollable"
    ></app-projects>
    <app-contact
      id="page-contact"
      class="scrollable"
    ></app-contact>

    <div
      #rendererContainer
      id="renderer"
    >
      <div class="app__main--bg1"></div>
      <div class="app__main--bg2"></div>
    </div>


  </div>

</div>
