<div class="app">

  <a
    (click)="onToggleMode()"
    id="mode"
  >{{ mode }}</a>

  <app-header></app-header>
  <app-alert></app-alert>
  <app-nav></app-nav>

  <div class="app__main">

    <div
      id="page-intro"
      class="scrollable"
    >
      <app-intro
        #introContainer
        [ngClass]="{ 'display': displayIntro, 'hide': !displayIntro }"
      ></app-intro>
    </div>

    <div [ngClass]="{ 'stopper': !browserSupported}"></div>

    <div
      id="page-about"
      class="scrollable"
    >
      <app-about
        #aboutContainer
        [ngClass]="{ 'display': displayAbout, 'hide': !displayAbout }"
      ></app-about>
    </div>

    <div [ngClass]="{ 'stopper': !browserSupported}"></div>

    <div
      id="page-projects"
      class="scrollable"
    >
      <app-projects
        #projectsContainer
        [ngClass]="{ 'display': displayProjects, 'hide': !displayProjects }"
      ></app-projects>
    </div>

    <div [ngClass]="{ 'stopper': !browserSupported}"></div>

    <div
      id="page-contact"
      class="scrollable"
    >
      <app-contact
        #contactContainer
        [ngClass]="{ 'display': displayContact, 'hide': !displayContact }"
      ></app-contact>
    </div>

    <div
      #rendererContainer
      id="renderer"
    >
      <div class="app__main--bg1"></div>
      <div class="app__main--bg2"></div>
    </div>


  </div>

</div>
