<div class="app">

  <a
    (click)="onToggleMode()"
    id="mode"
  >{{ mode }}</a>

  <app-header></app-header>
  <app-alert></app-alert>
  <app-nav></app-nav>

  <div class="app__main">

    <app-intro
      #introContainer
      id="page-intro"
      class="scrollable"
      [ngClass]="{ 'display': displayIntro, 'hide': !displayIntro }"
    ></app-intro>
    <app-about
      #aboutContainer
      id="page-about"
      class="scrollable"
      [ngClass]="{ 'display': displayAbout, 'hide': !displayAbout }"
    ></app-about>
    <app-projects
      #projectsContainer
      id="page-projects"
      class="scrollable"
      [ngClass]="{ 'display': displayProjects, 'hide': !displayProjects }"
    ></app-projects>
    <app-contact
      #contactContainer
      id="page-contact"
      class="scrollable"
      [ngClass]="{ 'display': displayContact, 'hide': !displayContact }"
    ></app-contact>

    <div
      #rendererContainer
      id="renderer"
    >
      <div class="app__main--bg1"></div>
      <div class="app__main--bg2"></div>
    </div>


  </div>

</div>
