.projects-nav {
  height: 15vh;
  width: 75vw;
  padding: 1rem;

  &__text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 1;

    font-size: var(--font-medium);
    font-style: italic;
    font-weight: 300;
    line-height: 2.6rem;
    text-transform: lowercase;
    text-align: center;

    @media only screen and (min-height: 67em) {
      //1080H
      top: 10%;
    }

    @media only screen and (min-height: 90em) {
      //1440H
      top: 6%;
    }

    span {
      position: relative;
      top: -1.5rem;

      font-size: 1rem;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: 45% 55%;

    padding: 1rem;
    opacity: 0.5;

    color: var(--color-accent1);
    font-size: var(--font-medium);
    letter-spacing: -0.5rem;
    line-height: 1rem;

    cursor: pointer;

    &:hover {
      letter-spacing: 0.8rem;
      line-height: 2rem;

      animation: spin 5s infinite linear;
    }

    &:active {
      letter-spacing: 5.8rem;
      line-height: 7rem;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: 15vh;
    align-items: space;
    gap: 1rem;

    opacity: 0.9;

    &--item {
      grid-row: 1 / -1;

      display: grid;

      background-color: rgba(#c06839, 0.2);
      border: solid 0.1rem rgba(#c06839, 0.2);
      transform: skewX(-4deg);

      cursor: pointer;
      overflow: hidden;

      &:hover {
        grid-column: span 2;

        border: solid 0.5rem rgba(#c06839, 0.2);
      }

      &:active {
        transform: skewX(-4deg) scale(1.02);
      }

      &-title {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
        z-index: 6000;

        font-family: var(--font-heading);
        font-size: var(--font-large);
        font-style: italic;
        font-weight: 400;
        text-transform: none;
        text-shadow: 0 0.4rem 0.2rem rgba(black, 0.5);
      }

      &-media {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        img {
          min-height: 100%;
          width: 100%;
        }
      }
    }

    &--close {
      position: absolute;
      top: -1.5rem;
      left: 1rem;
      z-index: 9999;

      font-size: var(--font-small);
      font-style: italic;
      font-weight: 300;
      line-height: 2.6rem;
      text-transform: lowercase;

      cursor: pointer;

      &:hover {
        &:hover {
          color: var(--color-accent1);
        }
      }

      &:active {
        transform: scale(1.02);
      }
    }
  }
}
