<div class="projects-nav">

  <div
    *ngIf="hide === true"
    (click)="onToggleProjects()"
    class="projects-nav__btn"
  >
    <span class="projects-nav__btn--text">
      Explore
      <br><span>▼</span>
    </span>

    <span
      [@flicker]="hide"
      class="projects-nav__btn--block"
    >
      ■■
      <br>
      ■■
    </span>
  </div>

  <div
    @flicker
    *ngIf="!hide"
    class="projects-nav__main"
  >

    <div
      *ngFor="let project of projects"
      (click)="onSelectProject(project)"
      class="projects-nav__main--item"
    >

      <div
        *ngIf="project !== selectedProject"
        class="projects-nav__main--item-title"
      >
        {{ project?.name }}
      </div>

      <div
        *ngIf="project !== selectedProject"
        class="projects-nav__main--item-media"
      >
        <img
          src="{{ project?.img }}"
          alt="{{ project?.name }} image"
        >
      </div>

    </div>

    <div
      (click)="onToggleProjects()"
      class="projects-nav__main--close"
    >▼ Hide</div>

  </div>

</div>
