.projects-nav-container {
  height: 15vh;
  width: 75vw;
  padding: 1rem;

  .projects-nav-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 1;

    font-size: var(--font-medium);
    font-style: italic;
    font-weight: 100;
    letter-spacing: -0.06rem;
    line-height: 2.6rem;
    text-transform: lowercase;
    text-align: center;

    span {
      position: relative;
      top: -1.5rem;

      font-size: 1rem;
    }
  }

  .projects-nav-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: 45% 55%;

    padding: 1rem;
    opacity: 0.5;

    color: var(--color-accent2);
    font-size: var(--font-medium);
    letter-spacing: -0.5rem;
    line-height: 1rem;

    cursor: pointer;

    &:hover {
      letter-spacing: 0.8rem;
      line-height: 2rem;

      animation: spin 5s infinite linear;
    }

    &:active {
      letter-spacing: 5.8rem;
      line-height: 7rem;
    }
  }
}

.projects-nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: 15vh;
  align-items: space;
  gap: 1rem;

  &__item {
    grid-row: 1 / -1;

    display: grid;

    background-color: rgba(#34c96a, 0.2);
    transform: skewX(-4deg);

    cursor: pointer;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0.3rem 0.3rem rgba(black, 0.125),
        0 0.35rem 0.35rem rgba(black, 0.1), 0 0.45rem 0.45rem rgba(black, 0.75),
        0 0.65rem 0.65rem rgba(black, 0.5), 0 1.1rem 1.1rem rgba(black, 0.025);
    }

    &:active {
      transform: skewX(-4deg) scale(1.02);
    }

    &--title {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      align-self: flex-start;
      justify-self: center;
      z-index: 6000;

      transform: translateY(5.5vh);

      font-family: var(--font-heading);
      font-size: var(--font-large);
      font-style: italic;
      font-weight: 100;
      text-transform: none;
      text-shadow: 0 0.4rem 0.2rem rgba(black, 0.5);
    }

    &--img {
      grid-column: 1 / -1;
      grid-row: 1 / -1;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
