<div class="projects-nav">

  <span
    *ngIf="hide === true"
    class="projects-nav__text"
  >
    Explore
    <br><span>▼</span>
  </span>

  <div
    *ngIf="hide === true"
    (click)="onToggleProjects()"
    class="projects-nav__btn"
  >
    <span [@flicker]="hide">
      ■■
      <br>
      ■■
    </span>
  </div>

  <div
    @flicker
    *ngIf="!hide"
    class="projects-nav__main"
  >

    <div
      *ngFor="let project of projects"
      (click)="onSelectProject(project)"
      class="projects-nav__main--item"
    >

      <div class="projects-nav__main--item-title">
        {{ project?.name }}
      </div>

      <div class="projects-nav__main--item-media">
        <img
          src="{{ project?.img }}"
          alt="{{ project?.name }} image"
        >
      </div>

    </div>

    <div
      (click)="onToggleProjects()"
      class="projects-nav__main--close"
    >▼ Return</div>

  </div>

</div>
