.nav-container {
  display: grid;
  align-content: flex-end;
  justify-items: flex-end;

  padding: 2rem;
}

.nav {
  display: grid;
  justify-items: flex-end;

  //KEEPS DIAMOND INSIDE CONTAINER
  .diamond-container {
    position: fixed;
    bottom: 35vh; //CONTROL WITH scrollY

    margin: 1.15rem;

    .diamond {
      position: absolute;

      height: 1.2rem;
      width: 1.2rem;

      background: transparent;
      transform: rotate(-45deg);
      opacity: 0.2;

      transition: all 0.1s linear;
      animation: pulse 1.5s infinite cubic-bezier(0.7, 0.02, 0.08, 1.52);
    }
  }

  .selected {
    opacity: 1;
    transform: scale(1.2);
  }

  &__page {
    opacity: 0.2;

    color: var(--color-light);
    font-family: var(--font-heading);
    font-size: var(--font-medium);
    font-weight: 100;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  &__divider {
    opacity: 0.05;

    height: 6vh;
    width: 0.1rem;
    margin: 0.5rem;

    background-color: var(--color-light);
  }
}
