<div class="nav">

  <div class="nav__main">

    <div class="nav__main--diamond">
      <span
        class="nav__main--diamond-effect"
        [ngStyle]="diamondPosition"
      ></span>
    </div>

    <a
      [ngClass]="(page === '/#page-intro') ? 'nav__main--page selected' : 'nav__main--page'"
      href="#page-intro"
    >
      Intro
    </a>

    <div class="nav__main--divider"></div>

    <a
      [ngClass]="(page === '/#page-about') ? 'nav__main--page selected' : 'nav__main--page'"
      href="#page-about"
    >
      About
    </a>

    <div class="nav__main--divider"></div>

    <a
      [ngClass]="(page === '/#page-projects') ? 'nav__main--page selected' : 'nav__main--page'"
      href="#page-projects"
    >
      Projects
    </a>

    <div class="nav__main--divider"></div>

    <a
      [ngClass]="(page === '/#page-contact') ? 'nav__main--page selected' : 'nav__main--page'"
      href="#page-contact"
    >
      Contact
    </a>

  </div>

</div>
