.nav {
  display: grid;
  align-content: flex-end;
  justify-items: flex-end;

  width: 100%;
  padding: 2rem;

  &__main {
    display: grid;
    justify-items: flex-end;

    //KEEPS DIAMOND INSIDE
    &--diamond {
      position: fixed;
      bottom: 35vh; //CONTROL WITH scrollY

      margin: 1.15rem;

      @media only screen and (min-height: 44em) {
        //720H
        bottom: 35.8vh;
      }

      @media only screen and (min-height: 56em) {
        //900H
        bottom: 35.3vh;
      }

      @media only screen and (min-height: 67em) {
        //1080H
        bottom: 36.2vh;
      }

      @media only screen and (min-height: 85em) {
        //1366H
        bottom: 33.6vh;
      }

      @media only screen and (min-height: 90em) {
        //1440H
        bottom: 37.5vh;
      }

      @media only screen and (min-height: 135em) {
        //2160H
        bottom: 35.4vh;
      }

      @media only screen and (max-width: 40em) {
        //650W
        display: none;
      }

      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        right: 3vw;
      }

      &-effect {
        position: absolute;

        height: 1.2rem;
        width: 1.2rem;

        background: transparent;
        transform: rotate(-45deg);

        transition: all 0.1s linear;
        animation: pulse 1.5s infinite cubic-bezier(0.7, 0.02, 0.08, 1.52);
      }
    }

    &--page {
      opacity: 0.5;

      color: var(--color-light);
      font-family: var(--font-heading);
      font-size: var(--font-medium);
      font-weight: 500;
      text-transform: uppercase;

      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }
    }

    &--divider {
      opacity: 0.4;

      height: 6vh;
      width: 1px;
      margin: 0.5rem;

      background-color: var(--color-light);

      @media only screen and (max-width: 40em) {
        //650W
        height: 2vh;
      }
    }
  }
}

//EMPHASIZE SELECTED PAGE
.selected {
  opacity: 1;
  transform: scale(1.2);
}
